.climb-section {
  padding: 100px 20px;
  background-color: #2b2a2a;
  border-bottom: 1px solid white;
}

.climb-header {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(144, 143, 143);
}
.experience-container {
  margin: 70px;
  display: flex;
  flex-direction: column; /* Stack experiences vertically */
  align-items: flex-start; /* Align items to the start */
  position: relative; /* For absolute positioning of lines */
}

.experience-card {
  position: relative;
  width: 100%; /* Full width for each card */
  max-width: auto; /* Limit width */
  padding: 20px;
  background-color: #f0f0f0df;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* Space between experience cards */
}

.vertical-line {
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 2px; 
  background-color: #fafafa; 
}

.horizontal-line {
  position: absolute;
  left: -15px; 
  width: 20px; 
  height: 2px; 
  background-color: #ffffff; 
  top: 20px; 
}

.experience-title {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.organization {
  font-size: 1.2rem;
  color: #666;
}

.duration {
  font-size: 1rem;
  color: #929191;
}

.description {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
}
