.download-resume-bar {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #ffffff; 
  color: rgb(0, 0, 0); 
}

.resume-bar-text {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.resume-bar-text:hover {
  color: #007bff; /* Change color on hover */
}
