.home-content {
  color: white;
  text-align: right;
  min-height: 800px;
  background-image: url('../logos/section1.png');
  background-size: cover; 
  background-position: center;  
  background-repeat: no-repeat; 
  border-bottom: 1px solid white;
}

#name {
  font-size: 600%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 100px 50px 30px 50px;
  position: relative;
  overflow: hidden;     
  border-right: 3px solid black;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
  max-width: calc(100% - 200px); 
  white-space: nowrap; /* Keep the typing effect */
}

@keyframes typing {
  from {
    width: 0; 
  }
  to {
    width: calc(100% - 200px); 
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
@keyframes slideInFromRight {
  0% {
      transform: translateX(100%); 
      opacity: 0; 
  }
  100% {
      transform: translateX(0); 
      opacity: 1; 
  }
}

#profession {
  margin-right: 50px;
  font-size: 2em;
  animation: slideInFromRight 4s forwards;
}

@media (max-width: 768px) {
  #name {
    font-size: 40px; /* Make the font smaller on smaller screens */
  }
  #profession {
    font-size: 1.5em;
  }
  
  .last-name {
    display: block;
  }
}

