.journey-section {
    padding: 100px 20px;
    background-color: #b5b5b5;
    color: #151414;
    text-align: center;
    border-bottom: solid 1px white;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
  }
  